<!-- chat/templates/chat/chat_detail.html -->
 {% load static %}
 
 <!DOCTYPE html>
 <html>
     <head>
    <link rel="stylesheet" type="text/css" href="{% static 'chat/css/style.css' %}">
    <title>{{ object.title }}</title>
</head>
<body>
    <h1>{{ object.title }}</h1>
    <h2>Messages:</h2>
    <ul>
    {% for message in object.messages.all %}
        <li>{{ message.author.username }} - {{ message.timestamp }}: {{ message.content }}</li>
    {% endfor %}
    </ul>
    <a href="{% url 'chat:message_create' object.pk %}">Create New Message</a>
</body>
</html>
