{% extends 'chat/base.html' %}

{% block title %}
  {{chat.title}}
{% endblock title %}

{% block main_content %}
  <h1>{{ chat.title }}</h1>

    {% for message in object_list %}
      <div class="message">
        <span class="message-author"><strong>{{ message.author.username }}:</strong></span>
        <span class="message-timestamp"><small>{{ message.timestamp }}</small></span>
        {% if message.reply_to %}
          <p class="message-reply"><em>Відповідь на повідомлення {{message.reply_to.author}}, {{message.reply_to.timestamp}}:<br>{{ message.reply_to.content }}</em></p>
        {% endif %}
        <p class="message-content">{{ message.content }}</p>
        <a class="message-response" href="{% url 'chat:message_create' chat.pk %}?reply_to={{ message.id }}">Відповісти</a>
      </div>
    {% endfor %}

  <a href="{% url 'chat:message_create' chat.pk %}">Додати повідомлення</a>
{% endblock main_content %}

