{% extends 'blog/base.html' %}

{% block title %}About{% endblock %}


{% block main_content %}

    <p class="message-container">
        Це навчальний проект що демонструє можливості Django. Проект включає застосунки "chat" та "blog". 
        Функціонал застосунку "blog": реєстрація користувачів, створення теми, створення допису, оцінювання допису, створення груп за інтересами, встановлення дозволу на перегляд контенту, розміщення  службового контенту на сайті з допомогою панелі адміністратора.
        Функціонал застосунку "chat": створення теми обговорення, створення повідомлення в чаті, відповідь на повідомлення.<br><hr>
            Вихідний код: https://github.com/Sany777/maupblog
    </p>
 
{% endblock main_content %}


