{% extends 'blog/layout.html' %}
{% load static %}

{% block header_content %}
    <a href="{% url 'blog:index' %}"> Home </a><span>></span>
    <a href="{% url 'blog:show_topic_list' %}"> Topics</a>
{% endblock header_content %}

{% block main_content %}
    <h2 class="title">
        {{ message }}
    </h2>
    <form action="{% url 'blog:edit_entry' entry.id %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Submit</button>
    </form>
    <script rel="script" src="{% static 'blog/edit_script.js' %}"></script>
{% endblock main_content %}

