{% extends 'blog/layout.html' %}
{% load static %}

{% block header_content %}
    <a href="{% url 'blog:show_topic_list' %}"> Topics</a>
{% endblock header_content %}


{% block main_content %}

<div class="slider" hidden>
  <button class="prev-button slider-button" onclick='slidePrev()'><</button>
  <div class="slider-card">
    {% for slidecard in slidecards %}
    <a href="{% url 'blog:edit_entry' slidecard.id %}" class="slide">
      {{ slidecard.text }}
    </a>
    {% endfor %}
  </div>
  <button class="next-button slider-button" onclick='slideNext()'>></button>
</div>

<div class="card-container">

</div>


{% endblock main_content %}



