{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'blog/style.css' %}" >
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>blog</title>
</head>
<body>
    <div class="header-wrap">
        <div class="header-start">
            <a href="{% url 'blog:index' %}"><img src="{% static 'blog/photos/logo.png' %}"></a>
            {% if user.is_authenticated %}
                <a href="{% url 'blog:index' %}"> Home </a>
                <a href="{% url 'blog:social' %}"> Social</a>
                <a href="{% url 'blog:show_topic_list' %}"> Topics </a>
            {% endif %}
            {% block header_content %}{% endblock header_content %}
        </div>
        <div class="header-end">
            {% if user.is_authenticated %}
                Hello, {{user.username}}
                <a href="{% url 'users:logout' %}"> Logout </a>
            {% else %}
                <a href="{% url 'users:login' %}" >Log in</a>
                <a href="{% url 'users:register' %}">Register</a> 
            {% endif %}
        </div> 
    </div>

    <div class="body-wrap">
        <div class="aside-container">
            {% block aside_content %}{% endblock aside_content %}

            {% if pub_aside_topics %}
                <p class="aside-title">Public topics</p>
                <hr>
                {% for topic in pub_aside_topics %}
                    <a href="{% url 'blog:show_topic' topic.id %}">{{topic}}</a>
                {% endfor %}
            {% endif %}

            {% if friends_aside_topics %}
                <p class="aside-title">Friends topics</p>
                <hr>
                {% for topic in friends_aside_topics %}
                    <a href="{% url 'blog:show_topic' topic.id %}">{{topic}}</a>
                {% endfor %}
            {% endif %}

            {% if user_aside_topics %}
                <p class="aside-title">My topics</p>
                <hr>
                {% for topic in user_aside_topics %}
                    <a href="{% url 'blog:show_topic' topic.id %}">{{topic}}</a>
                {% endfor %}
            {% endif %}
 
            <div class="banner-container">
                <div class="baner-content">
                    <a href="{% url 'blog:index' %}"><img src="{% static 'blog/photos/f401.png' %}"></a>
                </div>
            </div>
        </div>
        <div class="main-container">
            {% block main_content %}{% endblock main_content %}
        </div>
    </div>
    <div class="footer-wrap">
        <a href="{% url 'blog:about' %}">About</a>
    </div>
    <script rel="script" src="{% static 'blog/script.js' %}"></script>
</body>
</html>