{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'blog/style.css' %}" >
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>blog</title>
</head>
<body>
    <div class="header">
        <div class="header-content">
            <a href="{% url 'blog:index' %}"><img src="{% static 'blog/logo.png' %}"></a>
            {% block header_content %}{% endblock header_content %}
        </div>
        <div class="header-end">
            {% if user.is_authenticated %}
                Hello, {{user.username}}
                <a href="{% url 'users:logout' %}" > Logout </a>
            {% else %}
                <a href="{% url 'users:login' %}" >Log in</a>
                <a href="{% url 'users:register' %}">Register</a> 
            {% endif %}
        </div> 
    </div>

    <div class="body-content">
        <div class="aside-content">
            {% block aside_content %}{% endblock aside_content %}
        </div>
        <div class="main-content">
            {% block main_content %}{% endblock main_content %}
        </div>
    </div>
    <div class="footer-content">
         <a href="{% url 'blog:about' %}">About</a>
    </div>
    <script rel="script" src="{% static 'blog/script.js' %}"></script>
</body>
</html>