{% extends 'blog/layout.html' %}


{% block header_content %}
<a href="{% url 'blog:index' %}"> Home <span>></span> </a>
    <a href="{% url 'blog:topics' %}"> Topics</a>
{% endblock header_content %}

{% block title_content %}
    Add new entry to topic <br>{{topic}}
{% endblock title_content %}

{% block content %}
    <form action="{% url 'blog:new_entry' topic.id %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button>submit</button>
    </form>
{% endblock content %}

