{% extends 'blog/base.html' %}

{% block title %}Topic list{% endblock %}

{% if user.is_authenticated %}
    {% block header_content %}
        <a href="{% url 'blog:new_topic' %}">Створити тему</a>
    {% endblock header_content %}
{% endif %}


{% block main_content %}
    {% if user.is_authenticated %}
        {% if user_topics %}
            <h3 class="topic-title"> Мої теми </h3>
            <ul>
            {% for topic in user_topics %}
                <li>
                    <a href="{% url 'blog:show_topic' topic.id %}">{{topic}}</a>
                </li>
            {% endfor %}
            </ul>
        {% else %}
            <a href="{% url 'blog:new_topic' %}">Створити першу власну тему</a>
        {% endif %}
    {% endif %}
    {% if pub_topics %}
        <h3 class="topic-title">Публічні теми</h3>
        <ul>
        {% for topic in pub_topics %}
            <li>
                <a href="{% url 'blog:show_topic' topic.id %}">{{topic}}</a>
            </li>
        {% endfor %}
        </ul>
    {% elif not friends_topics %}
        <h3>Немає публічних тем</h3>
    {% endif %}
    {% if user.is_authenticated %}
        {% if friends_topics %}
            <h3 class="topic-title">Теми друзів</h3>
            <ul>
            {% for topic in friends_topics %}
                <li>
                    <a href="{% url 'blog:show_topic' topic.id %}">{{topic}}</a>
                </li>
            {% endfor %}
            </ul>
        {% else %}
            <h3>Немає тем друзів</h3>
        {% endif %}
    {% endif %}   
{% endblock main_content %}