{% extends 'blog/layout.html' %}


{% block header_content %}
    {% if topic.user == user %}
        <span>></span><a href="{% url 'blog:edit_topic' topic.id %}">Edit topic </a>
        <span>></span><a href="{% url 'blog:new_topic' %}"> New topic </a>
        <span>/</span><a href="{% url 'blog:new_entry' topic.id %}"> New entry</a>
        <a class="danger" href="{% url 'blog:remove_topic' topic.id %}"> Delete Topic</a>
    {% endif %}
{% endblock header_content %}


{% block main_content %}

    <h3> {{ topic }} </h3>
    
    {% for entry in entries %}
    <div class="entry">
        <div class="entry-header">
           {{ entry.date_added }}
           <a href="{% url 'blog:edit_entry' entry.id %}">
            {% if topic.user == user %}
                Редагувати
            {% else %}
                Показати
            {% endif%}
            </a>

        </div>

        <div class="entry-text"> 
           {{ entry.text|linebreaks }}   
        </div>
        <div class="entry-footer">

            <p class="raiting entry_{{entry.id}}">
                {% if entry.avg_rating == -1 %}
                    Без оцінок
                {% else %}
                    Оцінка: {{entry.avg_rating}}
                {% endif %}
            </p>
            {% if form %}
                <form class="ratingForm" method="post" action="{% url 'blog:set_rate' entry.id %}" >
                    {% csrf_token %}
                    <input type="hidden" name="publication_id" value="{{ entry.id }}">
                    {{ form.as_p }}
                    <button type="submit">Оцінити</button>
                </form>
            {% endif %}

        </div>
    </div>
    {% empty %}
        {% if topic.user == user %}
            <a href="{% url 'blog:new_entry' topic.id %}">Створити новий допис</a>
        {% endif %}
    {% endfor %}
    <div class="page-selector">
        {% for num in num_list %}
            <a href="{% url 'blog:show_topic_num' topic.id num %}" > {{num}} </a>
        {% endfor %}
    </div>
    
{% endblock main_content %}