{% extends 'blog/base.html' %}

{% block title %}Friends{% endblock %}

{% block main_content %}

    {% if friends %}
    <h2 class="title">Мої друзі</h2>
    <ul>
        {% for friend in friends %}
        <li class="ul-content">
            <p>{{friend}}</p><a class="danger" href="{% url 'blog:remove_friend' friend.id %}" class="aside-content">Видалити</a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
        <h2 class="title">Немає друзів</h2>
    {% endif %}

    {% if requests_from_others %}
    <h2 class="title">Хочуть бути моїми друзями</h2>
    <ul>
        {% for candidate in requests_from_others %}
        <li class="ul-content">
            <p>{{candidate}}</p ><a class="danger" href="{% url 'blog:add_friend' candidate.id  %}">Прийняти</a>
        </li>
        {% endfor %}
    </ul>
    {% endif %}

    {% if my_requests %}
    <h2 class="title">Мої запити на дружбу</h2>
    <ul>
        {% for candidate in my_requests %}
        <li class="ul-content">
            <p>{{candidate}}</p ><a class="danger" href="{% url 'blog:remove_request' candidate.id  %}">Видалити запит</a>
        </li>
        {% endfor %}
    </ul>
    {% endif %}

    {% if not_friends %}
    <h2 class="title">Решта користувачів</h2>
    <ul>
        {% for not_friend in not_friends %}
        <li class="ul-content">
            <p>{{not_friend}}</p ><a class="danger" href="{% url 'blog:add_request' not_friend.id %}">Надіслати запит</a>
        </li>
        {% endfor %}
    </ul>
    {% endif %}

{% endblock main_content %}