{% extends 'blog/layout.html' %}


{% block header_content %}
<a href="{% url 'blog:index' %}"> Home </a><span>></span>
    <a href="{% url 'blog:new_topic' %}">New topic</a>
{% endblock header_content %}


{% block main_content %}
    My Topic
    <ul>
        {% for topic in own_topics %}
        <li>
            <a href="{% url 'blog:topic' topic.id %}">{{topic}}</a>
        </li>
        {% empty %}
            <li> No topic yet </li>
        {% endfor %}
    </ul>

    My Topic
    <ul>
        {% for topic in all_topics %}
        <li>
            <a href="{% url 'blog:topic' topic.id %}">{{topic}}</a>
        </li>
        {% empty %}
            <li> No topic yet </li>
        {% endfor %}
    </ul>
{% endblock main_content %}